<span>Lista de Cadastros realizados</span>

<table class="table-hover">
  <thead>
    <tr> 
      <th>Nome</th>
      <th>bairro</th>
      <th>cidade</th>
      <th>estado</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let c of cadastros">
    <td>{{c.nome}}</td>     
    <td>{{c.bairro}}</td>     
    <td>{{c.cidade}}</td> 
    <td>{{c.estado}}</td>     
  </tr>
</tbody>
</table>

<hr/>
<br/>
<span>Novo cadastro</span>
<form class="col-sm-6" (ngSubmit)="onSubmit()" #form="ngForm">
  <tr> 
    <th>Nome</th>
    <th>bairro</th>
    <th>cidade</th>
    <th>estado</th>
  </tr>
  <tr>
    <td><input type="text" class="form-control" placeholder="Nome" [(ngModel)]="model.nome" name="nome" #nome="ngModel"/></td>     
    <td><input type="text" class="form-control" placeholder="Bairro" [(ngModel)]="model.bairro" name="nome" #bairro="ngModel"/></td>
    <td><input type="text" class="form-control" placeholder="Cidade" [(ngModel)]="model.cidade" name="nome" #cidade="ngModel"/></td>
    <td><input type="text" class="form-control" placeholder="Estado" [(ngModel)]="model.estado" name="nome" #estado="ngModel"/></td>
  </tr>
  <br>
<button type="submit" class="btn btn-primary">Inserir</button>

</form>



    
<!-- <table name="gravaDados" ng-app="myApp" ng-controller="testectrl">
    <tbody>  
      <tr> 
        <th>Nome</th>
        <th>bairro</th>
        <th>cidade</th>
        <th>estado</th>
      </tr>
      <tr>
        <td><input type="text" [(ngModel)] ="grava.nome"></td>     
        <td><input type="text" [(ngModel)] ="grava.bairro"></td>
        <td><input type="text" [(ngModel)] ="grava.cidade"></td>
        <td><input type="text" [(ngModel)] ="grava.estado"></td>
    </tr>
  </table>
      <button type="button" (click)="add()">incluir</button> -->
<!-- 
    <script>
          angular: any;
    myApp = angular.module('myApp',[])
    myApp.controller("testectrl", function($scope) {
      $scope.gravar = [];
      $scope.adicionarDados = function(dados){
        $scope.gravar.push(dados)
      }  
    })
    </script> -->