


<table id="dtTable" class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5"  cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>
            <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="bairro">Bairro</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="cidade">Cidade</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="estado">Estado</mfDefaultSorter>
        </th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let c of cadastros">
          <td>{{c.nome}}</td>     
          <td>{{c.bairro}}</td>     
          <td>{{c.cidade}}</td> 
          <td>{{c.estado}}</td>     
          </tr>
  </tbody>
</table>


<hr/>
<br/>

<form class="col-sm-6" (ngSubmit)="onSubmit()" #form="ngForm">
  <tr> 
    <th>Nome</th>
    <th>bairro</th>
    <th>cidade</th>
    <th>estado</th>
  </tr>
  <tr>
    <td><input type="text" class="form-control" placeholder="Nome" [(ngModel)]="model.nome" name="nome" #nome="ngModel"/></td>     
    <td><input type="text" class="form-control" placeholder="Bairro" [(ngModel)]="model.bairro" name="nome" #bairro="ngModel"/></td>
    <td><input type="text" class="form-control" placeholder="Cidade" [(ngModel)]="model.cidade" name="nome" #cidade="ngModel"/></td>
    <td><input type="text" class="form-control" placeholder="Estado" [(ngModel)]="model.estado" name="nome" #estado="ngModel"/></td>
  </tr>
  <br>
<button type="submit" class="btn btn-primary">Inserir</button>

</form>



    
